@media all{

	/*http://www.colourlovers.com/palette/1877417/Sweets*/
	/*http://www.colourlovers.com/palette/609474/ChocoMania*/
	@font-face {
		font-family: 'typicons';
		src: url("./typicons.eot");
		src: url("./typicons.eot?#iefix") format('embedded-opentype'),
		   url("./typicons.woff") format('woff'),
		   url("./typicons.ttf") format('truetype'),
		   url("./typicons.svg#typicons") format('svg');
		font-weight: normal;
		font-style: normal;
	}

	body{
		margin: 0px;
		color: #828363;
		background: url(../img/background.jpg) repeat;
		font-family: 'Lobster', cursive;

	}

	.main{
		position: relative;
		display: inline-block;
		left: 50%;
		width: 0px;
		height: 100%;
		min-height: 100%;
		box-sizing: border-box;
	}

	.content-block{
		box-sizing: border-box;
		margin-left: -300px;
		display: inline-block;
		width: 600px;
		position: relative;
		padding: 20px 80px 20px 100px;
	}

	.content-block > div {
		font-size: 20px;
	}

	.content-block:after, .content-block:before{
		content: '';
		position: absolute;
		display: inline-block;
		width: 20px;
		height: 100%;
		
	}

	.content-block:after{
		left: 0px;
		top: -10px;
		box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.6);
		-webkit-transform: skew(0deg, 45deg);
       	   -moz-transform: skew(0deg, 45deg);
             -o-transform: skew(0deg, 45deg);
	}

	.content-block:before{
		right: -20px;
		top: 0px;
		background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53, 90, 88,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */

	}

	.content-block:nth-of-type(odd):after{
		background-image: url(../img/odd.jpg);
	}

	.content-block:nth-of-type(even):after{
		background-image: url(../img/even.jpg);
	}

	.content-block > h1, #logo > h1 {
		margin-top: 0px;
		margin-bottom: 20px;	
	}

	.content-block > h1{
		color: #40312A;
	}

	#logo > h1{
		font-size: 60px;
		margin-bottom: 0px;
	}

	#logo > p , .content-block > div{
		margin: 0px 0px 0px 30px;
	}

	#logo > .contacts{
		position: absolute;
		display: inline-block;
		font-size: 16px;
		top: 10px;
		right: 10px;
	}

	a {
		color: #33241D; 
	}

	.content-block:nth-of-type(even), .content-block:nth-of-type(odd){
		background-repeat: repeat-y;
	}
	.content-block:nth-of-type(even){
		background-color: #324F4D;
		background-image: url(../img/even.jpg);
	}

	.content-block:nth-of-type(odd){
		background-color: #355A58;;
		background-image: url(../img/odd.jpg);
	}
}