@media only screen and (orientation : landscape){

	.menu{
		width: 100%;
		height: 50px;
	}
	
	.about{
		background-image: url(../img/portfolio-background.jpg) !important;
		background-size: cover !important;
		margin-top: 50px;
	}

	.header, .content{
		display: inline-block;
		height: 100%;
	}

	.header{
		width: 30%;
		float: left;
	}

	.content{
		width: 70%;
		padding-top: 30px;
	}

	.menu-list{
		margin-right: 10px;
	}

	.mi{
		margin: 5px;
	}

	
}